<div class="container col-md-4">
  <md-card layout="row" layout="column">
    <md-card-title><h2>Sign In</h2></md-card-title>

<md-card-content>
  <form>
      <div class="form-group">
        <md-input-container>
          <input type="text" mdInput placeholder="Email" value="">
        </md-input-container>
        <br>
        <md-input-container>
          <input type="password" mdInput placeholder="Password" value="">
        </md-input-container>
      </div>
      <button md-raised-button type="submit">Sign In</button>
    </form>

</md-card-content>
  </md-card>
</div>
