<div class="row">
  <div class="col-md-10 col-lg-10 col-sm-10">
    <h3>All Students</h3>
    <table class="table">
      <tr>
        <th>Index Number</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Department</th>
        <!--<th>StudentID</th>-->
        <th>Action</th>
      </tr>

      <tr *ngFor="let student of filteredStudents">
        <td>{{student?.indexNo}}</td>
        <td>{{student?.firstName}} {{student?.lastName}}</td>
        <td>{{student?.gender}}</td>
        <td>{{student?.department}}</td>
        <!--<td>{{student?.userId}}</td>-->
        <td>
          <button class="btn btn-xs btn-primary" [routerLink]="['./', student?.userId]">See More</button>
        </td>
      </tr>
    </table>
  </div>
</div>
