<div class="container">
  <md-card>
    <md-card-title>Sign Up as Reviewer</md-card-title>
    <md-card-content>
      <form>
        <!--First Name-->
        <md-input-container>
          <input type="text" mdInput placeholder="First Name">
        </md-input-container>
        <br>

        <!--Last Name-->
        <md-input-container>
          <input type="text" mdInput placeholder="Last Name">
        </md-input-container>
        <br>

        <!--Birthday-->
        <md-input-container>
          <input type="date" mdInput placeholder="Birthday">
        </md-input-container>
        <br>

        <!--Employee Number-->
        <md-input-container>
          <input type="text" mdInput placeholder="Employee Number">
        </md-input-container>
        <br>

        <!--Email-->
        <md-input-container>
          <input type="text" mdInput placeholder="Email">
        </md-input-container>
        <br>

        <!--Password-->
        <md-input-container>
          <input type="password" mdInput placeholder="Password">
        </md-input-container>
        <br>

        <!--Confirm Password-->
        <md-input-container>
          <input type="password" mdInput placeholder="Confirm Password">
        </md-input-container>


        <br>
        <button class="md-primary" type="submit" color="primary" md-raised-button>Sign Up</button>
        <button type="button" color="warn" md-raised-button>Clear Fields</button>
      </form>
    </md-card-content>
  </md-card>
</div>
