<div class="row">
  <div class="col-md-6 col-lg-6 col-sm-6">
    <h3>New Feedback</h3>
    <form [formGroup]="form" autocomplete="off" novalidate>
      <div class="form-group">
        <label>Rating</label>
        <input class="form-control" type="text" name="rating" formControlName="rating">
      </div>
      <div class="form-group">
        <label>Comment</label>
        <input class="form-control" type="text" name="comment" formControlName="comment">
      </div>
    </form>
  </div>
</div>
