<button class="btn btn-default" routerLink="../">All Students</button>
<div class="row">
  <div class="col-md-6 col-lg-6 col-sm-6">
    <h2>Student Academic Record</h2>
    <div class="panel panel-primary" *ngFor="let semester of semesters">
      <div class="panel-heading semester-heading">Semester: {{semester?.number}}</div>
      <div class="panel-body">
        Modules <div class="pull-right">SGPA: {{semester?.sgpa}}</div>
      </div>

      <table class="table">
        <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Credits</th>
          <th>Grade</th>
        </tr>
        <tr *ngFor="let module of allModules[semester.number]">
          <th>{{module?.code}}</th>
          <th>{{module?.name}}</th>
          <th>{{module?.credits}}</th>
          <th>{{module?.grade}}</th>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-md-4 col-lg-4 col-sm-4">
    <div class="panel panel-success">
      <div class="panel-heading" style="font-size: 20pt">
        Student's Details
      </div>
      <ul class="list-group">
        <li class="list-group-item">Name: {{student?.firstName}} {{student?.lastName}}</li>
        <li class="list-group-item">Gender: {{student?.gender}}</li>
        <li class="list-group-item">Birthday: {{student?.birthday}}</li>
        <li class="list-group-item">IndexNo: {{student?.indexNo}}</li>
        <li class="list-group-item">Department: {{student?.department}}</li>
      </ul>
    </div>
    <div class="row">
      <div class="col-md-offset-1">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h4>Feedback</h4>
          </div>
          <div class="panel-body">
            <ul class="list-group">
              <li class="list-group-item">Rating: </li>
              <li class="list-group-item">Comment: </li>
              <li class="list-group-item">Reviewer</li>
              <li class="list-group-item">Date: </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
