<button class="btn btn-default" routerLink="../">All Students</button>
<div class="row">
  <div class="col-md-8 col-lg-8 col-sm-8">
    <h2>Student Academic Record</h2>
    <div class="panel panel-default" *ngFor="let semester of semesters">
      <div class="panel-heading">Semester: {{semester?.number}}</div>
      <div class="panel-body">
        Modules <div class="pull-right">SGPA: {{semester?.sgpa}}</div>
      </div>

      <table class="table">
        <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Credits</th>
          <th>Grade</th>
        </tr>
      </table>
    </div>

  </div>
  <div class="col-md-4 col-lg-4 col-sm-4">
    <div class="well">
      <ul class="list-group">
        <li class="list-group-item">Name: {{student?.firstName}} {{student?.lastName}}</li>
        <li class="list-group-item">Gender: {{student?.gender}}</li>
        <li class="list-group-item">Birthday: {{student?.birthday}}</li>
        <li class="list-group-item">IndexNo: {{student?.indexNo}}</li>
        <li class="list-group-item">Department: {{student?.department}}</li>
      </ul>
    </div>
  </div>
</div>
