<div *ngFor="let single_feedback of feedback" class="panel panel-primary">
  <div class="panel-heading">
    <p>Student: {{feedbackStudentExtras[single_feedback?.reviewerId + single_feedback?.date]}}</p>
    <p>Reviewer: {{feedbackReviewerExtras[single_feedback?.reviewerId + single_feedback?.date]}}</p>
  </div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item">Rating: {{single_feedback?.rating}}</li>
      <li class="list-group-item">Comment: {{single_feedback?.comment}}</li>
      <li class="list-group-item">Date: {{single_feedback?.date}}</li>
    </ul>
  </div>
</div>
