<h2>Welcome!</h2>
<h3>College Grades Management System</h3>
<button routerLink="admin-dashboard" class="btn btn-primary">Admin Dashboard</button>
<button routerLink="verified-reviewers" class="btn btn-primary">Verified Reviewers</button>
<button routerLink="verify-reviewers" class="btn btn-primary">Admin Verify Reviewers</button>
<button routerLink="all-students" class="btn btn-primary">All Students</button>

<hr>
<br>
<!--<div class="row">-->
  <!--<div class="col-md-6">-->
    <!--<ul class="list-group">-->
      <!--<li class="list-group-item" *ngFor="let hero of heroesArray">{{hero['id']}}</li>-->
    <!--</ul>-->
  <!--</div>-->
<!--</div>-->
