/* You can add global styles to this file, and also import other style files */

input.ng-invalid.ng-dirty{
  border-left:5px solid red;
}

input.ng-invalid.ng-pristine{
  border-left: 5px solid grey;
}

input.ng-valid{
  border-left: 5px solid green;
}
