<div class="container text-center">
  <h2>College Grades Management System</h2>
  <h3>Administrator's Dashboard</h3>
  <hr>
  <div class="btn-group" role="group">
    <button class="btn btn-success btn-block" routerLink="../verified-reviewers"><h3>Verified Reviewers</h3></button>
    <button class="btn btn-warning btn-block" routerLink="../verify-reviewers"><h3>Un-verified (New) Reviewers</h3></button>
    <button class="btn btn-primary btn-block" routerLink="../all-feedback"><h3>All Feedback</h3></button>
  </div>
</div>
